<form [formGroup]="pickForm" (ngSubmit)="onSubmit()">
  <div class="pick-form-row">
    <label class="header" for="location">Location</label>
    <input  id="location" type="text" formControlName="location" placeholder="Please enter current pick location">
  </div>
  <div class="pick-form-row">
    <label class="header" for="skuOrTitle">SKU | Title</label>
    <input id="skuOrTitle" type="text" formControlName="skuOrTitle" placeholder="Please enter current pick sku or title">
  </div>
  <div class="pick-form-row">
    <label class="header" for="quantity">Quantity</label>
    <input id="quantity" type="number" formControlName="quantity" placeholder="Please enter current pick quantity">
  </div>
  <div class="button-container">
    <button type="submit" class="pick-button" [disabled]="!pickForm.valid">Pick</button>
    <button type="button" class="exception-button" (click)="openExceptionModal()">Exception</button>
  </div>

</form>
